---
import {
	Card,
	CardContent,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
} from "@/components/starwind/card";
import { Button } from "@/components/starwind/button";
import { Input } from "@/components/starwind/input";
import { Label } from "@/components/starwind/label";
import {
	Select,
	SelectTrigger,
	SelectValue,
	SelectContent,
	SelectItem,
	SelectGroup,
	SelectLabel,
	SelectSeparator,
} from "@/components/starwind/select";
import Layout from "@/layouts/Layout.astro";
import Navigation from "@/components/Navigation.astro";
---

<Layout>
	<span slot="nav">
		<!--
  			Example: To override the default navigation links, uncomment below and customize the links.
  			When children are provided, the default links inside Navigation.astro will be replaced.
		-->
		<!-- <Navigation>
			<a href="/" class="btn uppercase font-semibold">Home</a>
			<a href="/about" class="btn uppercase font-semibold">About</a>
			<a href="/contact" class="btn uppercase font-semibold">Contact</a>
		</Navigation> -->
		<Navigation />
	</span>

	<!-- Page content -->
	<div class="flex flex-col p-6">
		<Card class="w-[400px]" slot="preview">
			<CardHeader>
				<CardTitle>Create project</CardTitle>
				<CardDescription>
					Deploy your new project in one-click.
				</CardDescription>
			</CardHeader>
			<CardContent class="flex flex-col gap-4">
				<div class="flex w-full flex-col gap-2">
					<Label for="name">Name</Label>
					<Input
						type="text"
						id="name"
						placeholder="Name of your project"
					/>
				</div>
				<div class="flex w-full flex-col gap-2">
					<Label for="framework">Framework</Label>
					<Select id="framework">
						<SelectTrigger class="w-full" required>
							<SelectValue placeholder="Select" />
						</SelectTrigger>
						<SelectContent class="w-full">
							<SelectGroup>
								<SelectLabel>Frameworks</SelectLabel>
								<SelectItem value="astro">Astro</SelectItem>
								<SelectItem value="next">Next.js</SelectItem>
								<SelectItem value="svelte">SvelteKit</SelectItem
								>
								<SelectItem value="solid">SolidStart</SelectItem
								>
							</SelectGroup>
						</SelectContent>
					</Select>
				</div>
			</CardContent>
			<CardFooter class="flex justify-between">
				<Button variant="outline">Cancel</Button>
				<Button type="submit">Deploy</Button>
			</CardFooter>
		</Card>
	</div>
</Layout>
