---
import ThemeToggle from "@/components/ThemeToggle.astro";
import SectionDivider from "@/components/SectionDivider.astro";
import Button from "@/components/starwind/button";
---

<header class="flex flex-col">
    <div class="flex items-center justify-between p-4 gap-4">
        <div class="flex items-center gap-4">
            <ThemeToggle />
            <slot name="nav" />
            <!-- Future components can be added here -->
        </div>
        <div class="flex items-center gap-4">
            <Button variant="outline">Contact</Button>
        </div>
    </div>
    <div class="px-4 text-center">
        <SectionDivider />

        <h1
            class="p-4 w-full text-center text-7xl font-bold text-foreground tracking-tighter uppercase"
            style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; transform: scaleX(1.5); display: inline-block;"
        >
            Chris Tomlin
        </h1>
        <SectionDivider />
    </div>
</header>
