---
import ThemeToggle from "@/components/ThemeToggle.astro";
import SectionDivider from "@/components/SectionDivider.astro";
import Button from "@/components/starwind/button";
---

<header class="flex flex-col">
    <div class="flex gap-4 justify-between items-center p-4">
        <div class="flex gap-4 items-center">
            <ThemeToggle />
            <slot name="nav" />
            <!-- Future components can be added here -->
        </div>
        <div class="flex gap-4 items-center">
            <Button
                variant="outline"
                class="font-bold uppercase contact-outline">Contact</Button
            >
        </div>
    </div>
    <div>
        <SectionDivider />

        <h1
            class="p-2 w-full max-w-full overflow-x-hidden text-8xl md:text-8xl font-bold tracking-tighter text-center uppercase text-foreground whitespace-normal break-words block leading-none mx-auto"
            style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"
        >
            Chris Tomlin
        </h1>
        <SectionDivider />
    </div>
</header>
