---

---

<div class="flex gap-2">
    <slot>
        <a href="/" class="btn uppercase font-semibold">Home</a>
        <!-- <a href="/blog/" class="btn uppercase font-semibold">Blog</a> -->
    </slot>
</div>
