---

---

<div class="flex gap-2">
    <slot>
        <a href="/" class="font-semibold uppercase btn">Home</a>
        <!-- <a href="/blog/" class="font-semibold uppercase btn">Blog</a> -->
    </slot>
</div>
