---
import { Button } from "@/components/starwind/button";
const { platform, username } = Astro.props;
---

<Button variant="default" href={`https://www.${platform}.com/${username}`}>
  {platform}
</Button>
